<div class="profile-container">
    <img class="profile img-circle" src="./assets/images/{{ .Site.Params.profile.avatar }}" alt="" />
    <h1 class="name">{{ .Site.Params.profile.name }}</h1>
    <h3 class="tagline">{{ .Site.Params.profile.tagline }}</h3>
</div>
<!--//profile-container-->
