<!-- Javascript -->
<script type="text/javascript" src="./assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="./assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- custom js -->
<script type="text/javascript" src="./assets/js/main.js"></script>
